/* Mulai code Anda dari baris terakhir */

* {
  box-sizing: border-box;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Times New Roman";
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

input,textarea {
  width: 400px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 18px;
  border: 1px solid #dee7ec;
}

header {
  height: 65px;
  width: 100%;
  background-color: #d35400;
  position:fixed;
  top:0;
  z-index:10;
  opacity:0.9;
}

.header-left {
  float: left;
  color:White;
  font-size: 32px;
  margin:10px;
}

.header-right {
  float: right;
  margin-right: -25px;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display:inline-block;
  float: left;
}

.container {
  max-width: 1170px;
  width:100%
  padding: 0 15px;
  margin: 0 auto;
}


.top-wrapper {
  padding: 180px 0 100px 0;
  background-size:cover;
  background-image: url(background.jpg);
  color:white;
  text-align: center;
}

.background.jpg {
  -webkit-filter: blur(5px); /* Chrome, Opera */
  filter: blur(5px);
}

.top-wrapper p {
  color:#f1c40f;
  font-weight: bold;
}

.top-wrapper h1 {
  font-size: 48px;
  letter-spacing: 3px;
  margin-bottom: 10px;
}

.top-wrapper p {
  font-size:24px;
  letter-spacing:1px;
  margin-bottom: 5px;
  background-attachment: fixed;
}

.btn-wrapper {
  margin: 15px 0;
}

.btn-wrapper p {
  font-size: 15px;
  margin: 5px 0;
}

.signup {
  background-color: #535c68;
}

.facebook {
  background-color: #341f97;
  margin-right: 20px;
}

.twitter {
  background-color: #686de0;
}

.btn {
  padding: 15px 30px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}

.btn:hover {
  opacity: 1;
}

.fab {
  margin-right: 5px;
}

.fa {
  margin-right: 5px;
}

.paket-wrapper {
  background-color: rgb(236, 240, 241);
  text-align: center;
}


.container-paket h1 {
  text-align: center;
  font-weight:700;
  margin-top: 0px;
  padding: 0;
}

.pakets {
  float: left;
  width: 50%;
}

.pakets {
  display: inline-block;
}

.pakets-icon h3 {
  margin-top:10px;
  color: black;
  font-size:25px;
}

.pakets-icon {
  margin:20px 20px;
  color: black;
}

.pakets-icon p {
  margin-top:10px;
  width: 100%;
  color: black;
}

.txt-contents {
  width: 80%;
  margin-top: 20px;
  font-size: 15px;
}

.btnpaket:hover {
  opacity: 1;
  display:inline-block;
}

.bagiantambahanimg {
  float: inherit;
  margin:5px;
  width:200px;
}



.profile-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.card{
  padding-top: 30px;
  height: 300px;
}

.profile {
  float: left;
  width: 50%;
}

.profile-icon {
  position: relative;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
  margin-bottom:20px;
}

.menu-icon {
    visibility: hidden;
    color: white;
    float: right;
    font-size: 25px;
    padding: 21px 0;
  }

  footer {
      padding-top: 30px;
      padding-bottom: 20px;
      color: white;
      background-color: #3d3a3a;
      font-weight: bold;
      margin-top:100px;
  }

  .footer-logo {
      float: left;
      font-size: 32px;
  }
  .footer-list {
      float: right;
  }
  .footer-list li {
      padding-bottom:10px;
      list-style-type:none ;
      font
    }

  .footer-list li:hover {
      opacity:0.5;
      display:block;
      background-color: rgba(255, 255, 255, 0.3);
    }

  .animasi {
    width: 50px;
    height: 50px;
    background-color: coral;
    animation: square-to-circle 2s 1s infinite alternate;
    margin-left : 20px;
    margin-top: 50px;
  }

  .heading {
    padding-top: 80px;
    padding-bottom: 50px;
  }

  @keyframes square-to-circle {
    0%  {
      border-radius:0 0 0 0;
      background:coral;
      transform:rotate(0deg);
    }
    25%  {
      border-radius:50% 0 0 0;
      background:darksalmon;
      transform:rotate(45deg);
    }
    50%  {
      border-radius:50% 50% 0 0;
      background:indianred;
      transform:rotate(90deg);
    }
    75%  {
      border-radius:50% 50% 50% 0;
      background:lightcoral;
      transform:rotate(135deg);
    }
    100% {
      border-radius:50%;
      background:darksalmon;
      transform:rotate(180deg);
    }
  }
